body {
  background-color: rgb(0, 39, 59);
  }

/*External*/
.canvas {
    /* Look */
    background-color: rgb(0, 39, 59);
    /* Layout */
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

/*Outer*/
.container {
    /* Look */
    background-color: rgb(0, 39, 59);
    /* Layout */
    display: table-cell;
    vertical-align: middle
}

/*Parent*/
.logo {
    /* Layout */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 400px;
}

/*Child A*/
.circle{
    /* Look */
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 255, 162);
    border-radius:50%;
    box-shadow: 0px 20px 20px rgb(0, 24, 36);
    background-color: rgb(0, 39, 59);
    /* Layout */
    height:400px;
    width: 400px;
    margin: auto;
}

/*Child A.b*/
.text{
    /* Look */
    padding: 176px 0;
    text-align: center;
    /* Layout */
    margin: auto;
}

.copyright{
    /* Look */
    padding: 20px 0;
    text-align: center;
    /* Layout */
    color: rgb(51, 102, 102);
    font-family: 'IBM Plex Sans', sans-serif;
    margin: auto;
}

/*Child A.b.0*/
.label-a{
    /* Look */
    color: rgb(0, 255, 162);
    font-size: 60px;
    font-family: 'Roboto Mono', monospace;
    /* Layout */
    margin: auto;
}

/*Child A.b.1*/
.label-b{
    /* Look */
    color: rgb(255, 5, 152);
    font-size: 60px;
    font-family: 'Roboto Mono', monospace;
    /* Layout */
    margin: auto;
}

.about{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle
}

.hash {
    font-family: 'IBM Plex Sans', sans-serif;
    padding-left: 80px;
}

.keywords {
    padding-left: 30px;
}

.contact {
    color: rgb(255, 0, 102);
    font-size: 18px;
    font-family: 'Miriam Libre', sans-serif;
    padding-left: 76px;
}

.info {
    color: rgb(0, 255, 162);
    font-size: 18px;
    font-family: 'Miriam Libre', sans-serif;
    padding-left: 76px;
}

.intro{
    /* Look */
    color: rgb(0, 255, 162);
    font-size: 42px;
    font-family: 'Miriam Libre', sans-serif;
    border: 0;
    /* Layout */
    text-align: left;
    margin: auto;
    height: 20px;
    width: 580px;
}
